.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_container {
    display: flex;
    justify-content: center;
}

.image {
    width: 520px;
    height: 240px;
    left: 100px;
    top: 105px;
}

.name_container {
    display: flex;
    justify-content: center;
}

.composition_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
    margin: 32px auto 60px auto;
}

.composition_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
