.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.list {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}
